* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

main {
    /* Coloca o main no centro e em cima */
    display: flex;
    justify-content: center;
    align-items: center;
}
